.button {

    border-radius: 10px;
    border: 2px solid rgb(233, 158, 47);
    background-color: rgb(233, 158, 47);
    padding: 8px;

    &__image {
        max-width: 35px;
        max-height: 35px;
        
    }

    &:hover {
        background-color: white;
        color: black;
        cursor: pointer;
    }
}
