.button {
    display: flex;
    justify-content: center;
    border-radius: 10px;
    border: 2px solid rgb(233, 158, 47);
    background-color: rgb(233, 158, 47);

    &__image {
        height: 40px;
    }

    &:hover {
        background-color: white;
        color: black;
        cursor: pointer;
    }
}
