.button {

    border-radius: 10px;
    border: 2px solid rgb(233, 158, 47);
    background-color: rgb(233, 158, 47);
    padding: 6px;


    &__image {
        max-width: 30px;
        max-height: 35px;
        
    }

    &:hover {
        background-color: rgb(255, 255, 255);
        color: black;
        cursor: pointer;
    }
    &__text{
        font-size: 16px;
    }
}
