.modal {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    &__content {
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 500px;
    }

    &__header {
        padding: 10px;
        font-size: 30px;
    }

    &__body {
        padding: 10px;
        width: 480px;
        border-top: 2px solid rgb(233, 158, 47);
        border-bottom: 2px solid rgb(233, 158, 47);
        display: flex;
        justify-content: center;
        align-content: flex-start;
        flex-direction: column;
    }

    &__elements {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        align-items: center;
    }
    &__display {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 20px;
        padding: 10px;
    }


    &__counter{
        font-size: 25px;
        width: 100px;
    }
}
