.modal {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    &__content {
        width: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    &__header {
        padding: 10px;
        font-size: 30px;
    }

    &__body {
        padding: 10px;
        border-top: 2px solid rgb(233, 158, 47);
        border-bottom: 2px solid rgb(233, 158, 47);
        display: flex;
        justify-content: center;
        align-content: flex-start;
        flex-wrap: wrap;
    }

    &__elements {
        display: flex;
    }
    &__buttonvalue {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
        padding: 10px;
    }

    &__footer {
        padding: 10px;
    }
}
