.header {
    display: flex;
    justify-content: center;;
    gap: 10px;
    height: 80px;
    padding: 0px 10px ;
    align-items: center;


    &__input{
        width: 50%;
        height: 30%;
        
    }
}