.categoriesTitle{
    padding-left: 30px;
}

.categories{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    font-size: 30px;;

}


.image{
    width: 300px;;
}

.name{
    font-size: 30px;
}
.card{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);    
}