.header {
    display: flex;
    justify-content: center;;
    gap: 15px;
    height: 30px;
    padding-top: 10px;

    &__button{
        width: 100px;
        border-radius: 25px;
        border: 2px solid rgb(233, 158, 47)
    }

    &__input{
        width: 400px;
        
    }
}