.loginForm {
    padding: 20px 0;
    display: flex;
    justify-content: center;

    &__form {
        width: 500px;
    }

    &__field {
        font-size: 18px;
        display: flex;
        padding: 20px 0px;
        flex-direction: column;
        align-items: stretch;
    }

    &__buttons{
        display: flex;
        justify-content: space-between;
    }
}
